<ion-header>
  <ion-toolbar>
    <ion-title>Términos y Condiciones de Uso</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item>
      <ion-label>
        <h2><strong>1. Aceptación de los Términos</strong></h2>
        <p>
          Al utilizar la Aplicación de Dev Course, usted acepta estos Términos y Condiciones de Uso. Si no está de acuerdo con alguno de estos términos, debe desinstalar la Aplicación.
        </p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2><strong>2. Uso de la Aplicación</strong></h2>
        <p>
          Licencia de Uso: Dev Course le otorga una licencia no exclusiva, no transferible y revocable para usar la Aplicación de acuerdo con estos términos.
        </p>
        <p>
          Prohibiciones: No debe usar la Aplicación para fines ilegales, violar derechos de terceros, o interferir con el funcionamiento de la Aplicación o sus servidores.
        </p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2><strong>3. Propiedad Intelectual</strong></h2>
        <p>
          Todos los contenidos de la Aplicación, incluidos software, diseño, textos, gráficos, logotipos y otros materiales, son propiedad de Dev Course o de sus respectivos propietarios y están protegidos por derechos de autor y otras leyes de propiedad intelectual.
        </p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2><strong>4. Limitación de Responsabilidad</strong></h2>
        <p>
          Dev Course no se hace responsable de los daños que pudieran derivarse del uso de la Aplicación, incluidos, entre otros, pérdidas de datos, problemas de conexión, interrupciones en el servicio o daños a su dispositivo.
        </p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2><strong>5. Modificaciones a la Aplicación</strong></h2>
        <p>
          Nos reservamos el derecho de modificar, suspender o interrumpir temporal o permanentemente el acceso a la Aplicación en cualquier momento sin previo aviso.
        </p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2><strong>6. Contacto</strong></h2>
        <p>
          Si tiene alguna duda sobre estos términos o la política de privacidad, puede contactarnos en:<br>
          Correo: contactodevcourse.com<br>
          Teléfono: +[número de teléfono]
        </p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2><strong>7. Ley Aplicable</strong></h2>
        <p>
          Estos Términos y Condiciones se rigen por las leyes vigentes en [país de operación]. Cualquier disputa que surja en relación con estos términos será resuelta ante los tribunales competentes de [jurisdicción].
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
