
/* Asegúrate de que el contenido principal esté centrado */
ion-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

/* Card */
ion-card {
  background-color: rgba(255, 255, 255, 0.85); /* Blanco con 85% de opacidad */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
  border-radius: 12px; /* Bordes redondeados */
}

/* Estilo para el encabezado */
ion-card-header {
  background-color: #013440 !important;
    color: #56BFBF !important;
    border-top-left-radius: 15px; /* Bordes redondeados en la parte superior izquierda */
    border-top-right-radius: 15px; /* Bordes redondeados en la parte superior derecha */
}

/* Contenido del card */
ion-card-content {
  font-size: 18px; /* Tamaño de fuente base */
  line-height: 1.5; /* Espaciado entre líneas */
}
p{
  font-size: 18px;
}

/* Estilos responsivos para pantallas más grandes */
@media (min-width: 768px) {
  ion-card-content {
    font-size: 18px; /* Aumenta el tamaño de fuente en pantallas más grandes */
  }
}

/* Estilo para el encabezado de la página */
ion-header {
  background-color: transparent; /* Asegúrate de que el encabezado sea transparente */
  color: black; /* Color del texto del encabezado */
}

ion-toolbar {
  display: flex; /* Utiliza flexbox para alinear el contenido */
  justify-content: center; /* Centra horizontalmente */
}

ion-title {
  text-align: center;
  color: #56BFBF; /* Asegura que el texto esté centrado */
}

/* Animación al cargar los cards */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

ion-card {
  animation: fadeIn 0.8s ease-in-out;
}

/* Animación hover para iconos */
.language-icon:hover {
  transform: scale(1.2); /* Mayor escala al hacer hover */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada al hacer hover */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.divider {
  height: 2px;
  background-color: #56BFBF;
  width: 80%;
  margin: 20px auto;
}
/* Fondo semi-transparente para la modal */
.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(86, 191, 191, 0.8); /* Fondo con transparencia (rgba) */
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
}

/* Fondo con gradiente */
.modal-content {
  background: linear-gradient(135deg, #56BFBF, #ffffff); /* Gradiente azul */
  margin: 15% auto;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #013440;
  width: 90%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}



ion-toolbar {
  --background:  #013440; // Color de fondo del toolbar
  --color: white; // Color del texto en el toolbar
}

/* Estilos para el fondo de la modal */
ion-modal {
  --background: url('/assets/fondo.jpeg') no-repeat center center;
  --background-size: cover;
}

.benefits-container {
  margin-top: 20px;
}

.benefit-item {
  margin-bottom: 15px; /* Espaciado entre beneficios */
  padding-left: 20px;  /* Opcional: para alinear el texto un poco más */
}




