<ion-header>
  <ion-toolbar color="primary">

      <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Card sobre el carrusel -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido a Dev Course!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      🚀 ¡Construye tu éxito con Dev Course! <br />
      En Dev Course, somos expertos en desarrollo de software y te ofrecemos soluciones personalizadas que impulsan tu negocio. Desde aplicaciones web hasta sistemas complejos, nuestro equipo está aquí para llevar tu idea al siguiente nivel.

      <!-- Carrusel dentro de la tarjeta -->
      <swiper-container
        (slidechange)="swiperSlideChanged($event)"
        [loop]="true"
        [pagination]="true"
        [autoplay]="{ delay: 3000, disableOnInteraction: false }"
        style="margin-top: 8px; width: 100%; height: auto;"> <!-- Espaciado adicional para el carrusel -->

        <!-- Slide 1 con imagen -->
        <swiper-slide>
          <img src="assets/imagen3.jpg" alt="Imagen 1" style="width: 100%; height: auto;">
        </swiper-slide>

        <!-- Slide 2 con imagen -->
        <swiper-slide>
          <img src="assets/imagen1.png" alt="Imagen 2" style="width: 100%; height: auto;">
        </swiper-slide>

        <!-- Slide 3 con imagen -->
        <swiper-slide>
          <img src="assets/logo.png" alt="Imagen 3" style="width: 100%; height: auto;">
        </swiper-slide>
      </swiper-container>

    </ion-card-content>
  </ion-card>

</ion-content>
