

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>

  <div class="contact-container">

    <!-- Tarjeta de contacto por correo electrónico -->
    <ion-card>
      <ion-card-header>
        <ion-card-title style="color: #56BFBF !important;">📧 Correo Electrónico</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Envíanos un correo a <a href="mailto:devcourse98&#64;gmail.com" style="color: #56BFBF; text-decoration: underline;">devcourse98&#64;gmail.com</a></p>
      </ion-card-content>
    </ion-card>
    <div class="divider"></div>


    <!-- Tarjeta de contacto telefónico -->
    <ion-card>
      <ion-card-header>
        <ion-card-title style="color: #56BFBF !important;">📞 Teléfono</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Llámanos al <a href="tel:+526183017524">618 301 7524</a></p>
      </ion-card-content>
    </ion-card>
    <div class="divider"></div>
    <!-- Tarjeta de contacto por redes sociales -->
    <ion-card>
      <ion-card-header>
        <ion-card-title style="color: #56BFBF !important;">🌐 Redes Sociales</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Síguenos en nuestras redes sociales:</p>
        <ul>
          <li>
            <ion-icon name="logo-facebook" slot="start"></ion-icon>
            <a href="https://www.facebook.com/people/Dev-Course/61567410205950/">Facebook</a>
          </li>
          <li>
            <ion-icon name="logo-twitter" slot="start"></ion-icon>
            <a href="https://www.twitter.com/devcourse">Twitter</a>
          </li>
          <li>
            <ion-icon name="logo-instagram" slot="start"></ion-icon>
            <a href="https://www.instagram.com/devcourse98?igsh=eTAxd2JpanNmYW1r">Instagram</a>
          </li>
        </ul>
      </ion-card-content>
    </ion-card>

    <!-- Tarjeta de dirección -->
    <!-- Tarjeta de dirección -->
    <div class="divider"></div>
<!-- Tarjeta de dirección -->
<ion-card>
  <ion-card-header>
    <ion-card-title style="color: #56BFBF !important;">📍 Dirección</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p>Visítanos en:</p>
    <p>Carr. Durango – Mezquital, Km. 4.5 Gabino Santillán. C.P. 34308, Durango, Dgo.</p>

    <!-- Mapa -->
    <div id="map" style="height: 300px; width: 100%;"></div>
  </ion-card-content>
</ion-card>


  </div>

</ion-content>
