// src/global.scss

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import "~leaflet/dist/leaflet.css";

// Importa las variables
@import './theme/variables';

body {
  background-color: #f2f2f2; /* Cambia a tu color deseado */
  background-image: url('assets/fondo.jpeg');                          /* Cambia la ruta a tu imagen */
  background-size: cover; /* Ajusta la imagen al tamaño de la pantalla */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* No repite la imagen */
}
ion-content {
  --background: transparent; /* Asegúrate de que el fondo sea transparente */
}


/* En tu archivo global.scss o en el archivo de estilos de tu componente */

ion-tab-bar {
  --background: #013440; /* Color de fondo del tab bar */
  --color-selected: #56BFBF; /* Color del texto e icono seleccionado */
  --color: #ffffff; /* Color del texto e icono no seleccionado */
}




