



<ion-content [fullscreen]="true">

  <div class="contact-container">
    <!-- Descripción de nuestros logros -->
    <ion-card>
      <ion-card-header>
        <ion-card-title style="color: #56BFBF !important;">🚀 Nuestros Logros</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>En Dev Course, nos enorgullece haber trabajado en proyectos innovadores y desafiantes, proporcionando soluciones tecnológicas que impactan de manera positiva en diversos sectores. Desde la implementación de asistentes virtuales hasta el desarrollo de sistemas de gestión, cada proyecto refleja nuestro compromiso con la calidad, eficiencia y satisfacción del cliente.</p>
      </ion-card-content>
    </ion-card>
    <div class="divider"></div>

    <!-- Tarjeta del proyecto 1: Skill de Alexa -->
    <ion-card>
      <ion-card-header>
        <ion-card-title style="color: #56BFBF !important;">💡 Skill de Alexa para Consulta de Alumnos para la empresa Eficaz Digital</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Desarrollamos un modelo de habilidad de Alexa utilizando Alexa Developer Console y Amazon Web Services. Esta habilidad se conecta con la API de la empresa "Cura" para que los profesores puedan consultar información sobre los alumnos a través de Alexa y facilitar la comunicación con los padres.</p>
        <!-- Imagen del proyecto 1 al final -->
        <ion-img src="assets/alexa-skill.jpg"></ion-img>
      </ion-card-content>
    </ion-card>
    <div class="divider"></div>

    <!-- Tarjeta del proyecto 2: Máquina expendedora con inventarios -->
    <ion-card>
      <ion-card-header>
        <ion-card-title style="color: #56BFBF !important;">🛒 Máquina Expendedora con Inventario Móvil</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Implementamos una máquina expendedora conectada a una aplicación móvil, la cual permite gestionar el inventario de los productos de manera eficiente y en tiempo real.</p>
        <!-- Imagen del proyecto 2 al final -->
        <ion-img src="assets/vending-machine.jpg"></ion-img>
      </ion-card-content>
    </ion-card>
    <div class="divider"></div>
    <!-- Tarjeta del proyecto 3: Asignador de tareas para GeoDigital -->
    <ion-card>
      <ion-card-header>
        <ion-card-title style="color: #56BFBF !important;">📋 Aplicación de Asignador de Tareas para GeoDigital</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Desarrollamos una aplicación que asigna y gestiona tareas dentro de la empresa GeoDigital, optimizando la distribución de trabajo y el seguimiento de proyectos.</p>
        <!-- Imagen del proyecto 3 al final -->
        <ion-img src="assets/task-manager.jpg"></ion-img>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
